#root {
  --sbuxgreen: #016241;
  --sbuxbrightgreen: #007549;
  --sbuxdarkgreen: #1E3932;
  --sbuxlightgreen:   #D4E9E2;
  --sbuxcream: #f2eadb;

  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  color: white;
  background-color: var(--sbuxbrightgreen);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


button {
  margin: .5em;
  background-color: #a7955f;
  box-shadow: rgba(82, 82, 91, 0.397) 0px 7px 29px 0px;
}

button:active {
  background-color: #897e5b;
}

#mainContainer {
  width: 95%;
  height: 95%;
  background-color: white;
  border-radius: 10px;
  justify-self: center;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#innerContainer{
  width: 95%;
  height: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  text-align: center;
  font-size: 5em;
  font-weight: lighter;
}

.questioneer {
  display: flex;
  justify-content: center;
  padding: 1em;
  align-items: center;
  flex-direction: column;
}

#splashScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 55, 0, 0.9);
  color: white;
  font-size: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.hide {
  display: none;
}

.questioneer {
  opacity: 1;
  transition: opacity 0.5s;
}

.even {
  background-color: #f2f2f2;
}

.odd {
  background-color: #ffffff;
}

.splash-screen {
  position: fixed;
  backdrop-filter: blur(10px);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  transition: opacity 1s;
  z-index: 1000;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th, table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

table th {
  background-color: #dededed3;
  font-weight: bold;
  color: black;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade {
  opacity: 0;
  transition: opacity 0.5s;
}

.fade.show {
  opacity: 1;
}

input {
  border-style: none;
  border-radius: 5px;
  padding: 1em;
  background-color: var(--sbuxcream);
  color: black;
  font-weight: bold;
  box-shadow: rgba(61, 61, 66, 0.385) 0px 7px 29px 0px;
}