@font-face {
  font-family: 'Pike';
  src: url('../Fonts/Pike-Regular.woff2') format('woff2'),
       url('../Fonts/Pike-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pike';
  src: url('../Fonts/Pike-Bold.woff2') format('woff2'),
       url('../Fonts/Pike-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Pike';
  src: url('../Fonts/Pike-Light.woff2') format('woff2'),
       url('../Fonts/Pike-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

/* Lander Grande */
@font-face {
  font-family: 'LanderGrande';
  src: url('../Fonts/LanderGrande-Black.woff2') format('woff2'),
       url('../Fonts/LanderGrande-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'LanderGrande';
  src: url('../Fonts/LanderGrande-BlackItalic.woff2') format('woff2'),
       url('../Fonts/LanderGrande-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'LanderGrande';
  src: url('../Fonts/LanderGrande-Bold.woff2') format('woff2'),
       url('../Fonts/LanderGrande-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'LanderGrande';
  src: url('../Fonts/LanderGrande-BoldItalic.woff2') format('woff2'),
       url('../Fonts/LanderGrande-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'LanderGrande';
  src: url('../Fonts/LanderGrande-Book.woff2') format('woff2'),
       url('../Fonts/LanderGrande-Book.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'LanderGrande';
  src: url('../Fonts/LanderGrande-BookItalic.woff2') format('woff2'),
       url('../Fonts/LanderGrande-BookItalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'LanderGrande';
  src: url('../Fonts/LanderGrande-Light.woff2') format('woff2'),
       url('../Fonts/LanderGrande-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'LanderGrande';
  src: url('../Fonts/LanderGrande-LightItalic.woff2') format('woff2'),
       url('../Fonts/LanderGrande-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'LanderGrande';
  src: url('../Fonts/LanderGrande-Regular.woff2') format('woff2'),
       url('../Fonts/LanderGrande-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LanderGrande';
  src: url('../Fonts/LanderGrande-SemiBold.woff2') format('woff2'),
       url('../Fonts/LanderGrande-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'LanderGrande';
  src: url('../Fonts/LanderGrande-SemiBoldItalic.woff2') format('woff2'),
       url('../Fonts/LanderGrande-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

/* Lander Short */
@font-face {
  font-family: 'LanderShort';
  src: url('../Fonts/LanderShort-Bold.woff2') format('woff2'),
       url('../Fonts/LanderShort-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'LanderShort';
  src: url('../Fonts/LanderShort-BoldItalic.woff2') format('woff2'),
       url('../Fonts/LanderShort-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'LanderShort';
  src: url('../Fonts/LanderShort-Light.woff2') format('woff2'),
       url('../Fonts/LanderShort-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'LanderShort';
  src: url('../Fonts/LanderShort-LightItalic.woff2') format('woff2'),
       url('../Fonts/LanderShort/LanderShort-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'LanderShort';
  src: url('../Fonts/LanderShort-Regular.woff2') format('woff2'),
       url('../Fonts/LanderShort/LanderShort-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LanderShort';
  src: url('../Fonts/LanderShort-SemiBold.woff2') format('woff2'),
       url('../Fonts/LanderShort/LanderShort-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'LanderShort';
  src: url('../Fonts/LanderShort/LanderShort-SemiBoldItalic.woff2') format('woff2'),
       url('../Fonts/LanderShort/LanderShort-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

/* Lander Tall */
@font-face {
  font-family: 'LanderTall';
  src: url('../Fonts/LanderTall/LanderTall-Black.woff2') format('woff2'),
       url('../Fonts/LanderTall/LanderTall-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'LanderTall';
  src: url('../Fonts/LanderTall/LanderTall-Italic.woff2') format('woff2'),
       url('../Fonts/LanderTall/LanderTall-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'LanderTall';
  src: url('../Fonts/LanderTall/LanderTall-Light.woff2') format('woff2'),
       url('../Fonts/LanderTall/LanderTall-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'LanderTall';
  src: url('../Fonts/LanderTall/LanderTall-Regular.woff2') format('woff2'),
       url('../Fonts/LanderTall/LanderTall-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LanderTall';
  src: url('../Fonts/LanderTall/LanderTall-SemiBold.woff2') format('woff2'),
       url('../Fonts/LanderTall/LanderTall-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

/* SoDo Sans */
@font-face {
  font-family: 'SoDo Sans';
  src: url('../Fonts/SoDoSans-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SoDo Sans';
  src: url('../Fonts/SoDoSans-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'SoDo Sans';
  src: url('../Fonts/SoDoSans-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SoDo Sans';
  src: url('../Fonts/SoDoSans-BoldItalic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'SoDo Sans';
  src: url('../Fonts/SoDoSans-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SoDo Sans';
  src: url('../Fonts/SoDoSans-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'SoDo Sans';
  src: url('../Fonts/SoDoSans-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SoDo Sans';
  src: url('../Fonts/SoDoSans-SemiBoldItalic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'SoDo Sans';
  src: url('../Fonts/SoDoSans-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SoDo Sans';
  src: url('../Fonts/SoDoSans-ThinItalic.woff2') format('woff2');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

#root {
  --sbuxgreen: #016241;
  --sbuxbrightgreen: #007549;
  --sbuxdarkgreen: #1E3932;
  --sbuxlightgreen:   #D4E9E2;
  --sbuxcream: #f2eadb;
  --gold: #a7955f;

  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: black;

  font-family: 'SoDo Sans' ,Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  color: white;
  background: rgb(0,88,58);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


button {
  border-style: none;
  padding: .7em .8em;
  margin: 1em .5em;
  border-radius: 8px;
  background-color: var(--gold);
  box-shadow: rgba(82, 82, 91, 0.297) 0px 7px 29px 0px;
  font-weight: normal;
  font-size: .8em;
  color: white;
}

button:active {
  background-color: #897e5b;
}

#mainContainer {
  width: 95%;
  height: 95%;
  background-color: white;
  border-radius: 10px;
  justify-self: center;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.349) 0px 32px 70px 10px;
  padding-bottom: 3em;
}

h1 {
  text-align: center;
  font-size: 5em;
  font-family: 'Pike';
  letter-spacing: .2em;
  font-weight: 600;
  text-align: left;
  padding: 0em 1em;
  color: black;
}

.questioneer {
  display: flex;
  justify-content: center;
  padding: 1em;
  align-items: center;
  flex-direction: column;
}

#splashScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 55, 0, 0.9);
  color: white;
  font-size: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.hide {
  display: none;
}

.questioneer {
  opacity: 1;
  transition: opacity 0.5s;
}

.even {
  background-color: #f2f2f2;
}

.odd {
  background-color: #ffffff;
}

.splash-screen {
  position: fixed;
  backdrop-filter: blur(10px);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  transition: opacity 1s;
  z-index: 1000;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th, table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

table th {
  background-color: #dededed3;
  font-weight: bold;
  color: black;
}

tr:nth-child(2n) {
  background-color: #f6f6f6;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade {
  opacity: 0;
  transition: opacity 0.5s;
}

.fade.show {
  opacity: 1;
}

input {
  border-style: none;
  border-radius: 5px;
  padding: 1em;
  margin: 1em;
  background-color: var(--sbuxcream);
  color: black;
  font-weight: bold;
  font-size: 16px;
  box-shadow: rgba(70, 70, 75, 0.285) 0px 7px 29px 0px;
}

@media (max-width: 600px) {
  #root {
    padding: 0;
    margin: 0;
    width: 100vw;
    max-width: 100vw;
  }

  #app {
    max-width: 100vw;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }

  h1 {
    text-wrap: wrap;
    max-width: fit-content;
    font-size: 3rem;
  }

  #mainContainer {
    width: 100vw;
    max-width: 100vw;
    margin: 0;
    padding: auto;

  }
}

.progress-bar {
  display: flex;
  align-items: center;
  position: relative;
  margin: 5px 0 ;
  padding: 0 0 0px 0;
}

.step {
  flex: 1;
  text-align: center;
  color: gray;
  font-weight: bold;
}

.step.active {
  color: black;
}

.progress-bar::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  height: 5px;
  background-color: lightgray;
  width: 100%;
  transform: translateY(-50%);
  z-index: 2;
}

.progress {
  position: absolute;
  top: 50%;
  left: 0;
  height: 5px;
  background-color: var(--gold);
  transform: translateY(-50%);
  z-index: 2;
  transition: width 0.6s ease;
}

.progress-name {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0px 5px 0 5px;
  padding: 0px 5px 0 5px;
  border-radius: 10px;
  z-index: 3;
}
.step2 {
  flex: 1;
  text-align: center;
  color: black;
  font-size: .7em;
  font-weight: bold;
  width: fit-content;
}

.step2.active2 {
  background-color: var(--gold);
  color: white;
  border-radius: 5px;
}
.step2.nonActive {
  background-color: #ddd;
  color: white;
  border-radius: 5px;
}
.status {
  padding: 0 0 20px 0;
}

.animate {
  transition: opacity 0.5s;
}

.column {
  display: flex;
  flex-direction: column;
}

.statsBox {
  margin: .2px .5em;
  padding: .2em;
  background-color: #ddd;
  border-radius: 5px;
}